* {
  padding: 0;
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  --card-width: 16rem;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url(./fonts/Roboto-Regular.ttf) format('ttf');
  font-display: swap;
}

main {
  text-align: center;
  min-width: 360px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.navbar {
  height: 5rem;
  text-align: center;
  background-color: teal;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--card-width);
  height: 18rem;
  border: 1px solid rgba(28, 15, 15, 0.481);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgb(2, 161, 172);
  filter: drop-shadow(2px 2px 5px gray);
}
button {
  padding: 0.5em;
  border-radius: 0.5em;
  opacity: 80%;
  border: none;
  margin: 1rem;
  cursor: pointer;
}
h1 {
  font-size: 3rem;
}
h4 {
  font-size: 1rem;
  padding: 1em;
}
h3 {
  padding: 0.5em;
  font-size: 1.5em;
}
.icon {
  padding-top: 0.5rem;
  font-size: 2rem;
}
p {
  font-size: 0.85rem;
  padding-bottom: 0.5em;
}
.screenshot {
  width: 100%;
  height: 100%;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
